@font-face {
    font-family: Neue;
    src: url(./assets/fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}
h1 {
    font-family: Neue;
    font-size: 40px;
    letter-spacing: 1px;
}
body {
    background-color: rgb(34, 34, 34);
}
ul {
    text-decoration: none;
    color: white;
    list-style-type: none;
}
* {
    color: rgb(198, 198, 198);
}
button {
    height: 2.5rem;
    background-color: rgb(34, 34, 34);
    padding: 0px 10px;
    border: 1px solid  #14413d;

}
a,p,span {
    font-family: Roboto;
}
a:visited {
    color: white;
}
.header {
    padding: 5px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 15px 40px -15px #1f6c64;
}

.header__nav ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.header-search {
    display: flex;
    flex-direction: row;
    gap: 5px;

}
.header-search button {
    background-color: rgb(34, 34, 34);
    padding: 0px 10px;
    border: 1px solid  #14413d;
}
.header-search input {
    padding: 0px 10px;
    background-color: rgb(34, 34, 34);
    border: 1px solid  #14413d;
    height: 2.5rem;
    width: 100%;
    max-width: 200px;
}
.logo {
    width: 150px;
    height: 50px;
    object-fit: cover;
}
/* SWIPER */
.news {
    margin-top: 40px;
}
.swiper-button-next,.swiper-button-prev{
    background-color: white;
    background-color: rgb(34, 34, 34);
    right:10px;
    padding: 30px;
    color: #127561 !important;
    fill: rgb(233, 85, 85) !important;
    stroke: rgb(149, 20, 20) !important;
    
}
.slide {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
   .article {
    width: 40%;
    padding: 0 20px 0 0;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .article_img{
    max-width: 650px;
    max-height: 370px;
    width: 100%;
    height: 100%;
  }
  .swiper-slide article p {
    display: flex;
    flex-direction: column;
  
  }
  /* PRODUCTS */
  .products {
    /* margin-top: 50px; */
    width: 100%;
    max-width: 1350px;
    margin: 50px auto;
  }
  .products__controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 70px;
    font-size: 17px;
  }
  .products__controls select {
    background-color: rgb(34, 34, 34);
    border: 1px solid  #14413d;
    height: 2rem;
    width: 100px;
  }
  /* 
  PRODUCT CARD
  */
  .card {
    width: 20%;
    height: 100%;
    max-height: 500px;
    padding: 
    10px 20px;
  }
  .card__link {
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.products__list{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.product_name{
    height: 80px;
}
.card__product-photo {
    width: 100%;
    height: 270px;
    object-fit: cover;
}
.like_icon{
    position: absolute;
    margin:10px 0 0 10px;
    width: 30px;
    height: 30px;
}
  /* LOGIN AND REGISTRATION */
.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto auto;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 400px;
    gap: 1rem;
    padding: 20px 20px 50px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 100px;
    align-items: center;
}
a {
    text-decoration: none;
    color: rgb(99, 99, 191);
}
h1 {
    margin: 0%;
    padding: 0%;
    text-align: center;
}
.login-form__input {
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
    background-color: rgb(34, 34, 34);
    border: 1px solid  #14413d;
    font-size: medium;
    
}

.login-form__submit-button {
   
    border: none;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
    color: rgb(225, 225, 225);
    border: 1px solid  #14413d;
    width: 150px;
}
.password-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0%;
}
.login-form-container{
    flex-direction: column;
}

.login-form__submit-button:hover {
    background-color: #14413d;
    color: rgb(225, 225, 225);
    transition: all 0.5s ease;
}

#show_password{
    height: 2.5rem;
    background-color: rgb(178, 65, 65);
    border: none;
    border-radius: 2px;
    margin-left: 3px;
    width: 80px;
    color: white;
    cursor: pointer;
}
#show_password:hover {
    background-color: rgb(251, 146, 146);
    color: black;
    transition: all 0.5s ease;
}

.error-message{
    color: rgb(197, 90, 90);
}

