.product-page {
    padding: 50px 20px;
    display: flex;
    flex-direction: row;
}
.product-page__photo{
    max-width: 450px;
    max-height: 450px;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.short_description {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.product_page__full-name,
.product-page__price,
.product-page__buttons
{
    font-size: 25px;
}
.product-page__description-tittle {
    font-size: 25px;
}

.product-page__buy_btn{
    font-size: 20px;
    padding: 7px 20px;
    border: 1px solid rgb(8, 54, 29);
}
.product-page__buy_btn:hover {
    background-color: rgb(7, 23, 14);
    transition: all 0.6s ease;
}

@media(max-width:802px) {
    .product-page {
        flex-direction: column;
    }
    .product-page__description-tittle {
        margin-top: 20px;
    }
    .short_description {
        
        width: 100%;
    }
    .product-page {
        
    }
}