.products__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-column-end: -1;
    grid-column-start: 1;
    grid-gap: 10px;
}

.products__list__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-list__item__photo {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: auto;
}

.product-list__item__add-to-cart {
    /* height: ; */
}

.product__filter-form {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 802px) {
    .products__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 580px) {
    .products__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .products__list {
        grid-template-columns: repeat(1, 1fr);
    }
    .product-list__item__photo {
        max-width: 400px;
        max-height: 400px;
    }
}