.profile {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 2rem auto;
    gap: 10px;
    align-items: flex-start;
}

.profile__delivery-adress {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.adress {
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    display: flex;
    border: 1px solid #14413d;
}

.profile__edit-adress-btn {
    display: flex;
    font-family: Neue;
    font-size: 20px;
    height: 2.5rem;
    background-color: rgb(34, 34, 34);
    padding: 0px 10px;
    border: 1px solid #14413d;
    align-items: center;
    justify-content: center;
    width: 170px;
    color: white;

}

.profile__delivery-adress span {
    font-size: 17px;
}

.profile__add-product-btn {
    display: flex;
    font-family: Neue;
    font-size: 20px;
    height: 2.5rem;
    background-color: rgb(34, 34, 34);
    padding: 0px 10px;
    border: 1px solid #14413d;
    align-items: center;
    justify-content: center;
    width: 170px;
}