.register {
    max-width: 500px;
    border: 1px solid rgb(34, 69, 54);
    width: 100%;
    margin: 2rem auto;
    padding: 10px 10px;
}
.register__form {
    display: flex;
    padding: 5px;
    flex-direction: column;
    gap: 10px;
}
.register__form input {
    width: 100%;
    padding-left: 5px;
    height: 2.5rem;
    box-sizing: border-box;
    background-color: rgb(34, 34, 34);
    border: 1px solid  #14413d;
    font-size: medium;
}
.register__error-message--hide{
    display: none;
}
.register__error-message--show {
    font-size: 15px;
    color: rgb(186, 60, 60);
    text-align: center;
}
.register__submit-btn {
    font-weight: 600;
    font-size: 17px;
}
.register__submit-btn:hover {
    background-color: #14413d;
    color: rgb(225, 225, 225);
    transition: all 0.5s ease;
}