.skates,.frames {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}
.skates__filters {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.skates__filters form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.filters__search-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    align-self: flex-end;
    gap: 10px;
}
.filters__search-form input {
    width: 100%;
    max-width: 400px;
    background-color: rgb(34, 34, 34);
    border: 1px solid  #14413d;
    height: 2rem;
    width: 100%;
    max-width: 500px;
}
.filters__search-form__btn{
    height: 2.25rem;
}

.cart__preview--small {
    width: 60px;
    height: 60px;
}
.skates__list__item{
    width: 20%;
    align-items: flex-start;
    flex-wrap: no-wrap;
    height: auto;
}


.skates__list {
    margin:20px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content:center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.skates__tittle {
    text-align: center;
    font-size: 30px;
}

.order{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.order form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
    gap: 20px;
    border: 1px solid rgb(71, 70, 70);
}

.order form input {
    padding: 0 10px;
}

.order form button {
    font-family: Neue;
    font-size: 20px;
    cursor: pointer;
}
.order form button:hover {
    background-color: #14413d;
    transition: all 0.6s ease;
}